<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takaki.recruit.mapper.JobSeekerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.takaki.recruit.entity.po.JobSeekerEntity">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="created_by" property="createdBy" />
        <result column="updated_by" property="updatedBy" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="resume" property="resume" />
        <result column="status" property="status" />
        <result column="demand_id" property="demandId" />
        <result column="user_id" property="userId" />
        <result column="is_deleted" property="deleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        create_time,
        update_time,
        created_by,
        updated_by,
        id, name, intro, resume, status, demand_id, user_id, is_deleted
    </sql>

</mapper>
