<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.takaki.recruit.mapper.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.takaki.recruit.entity.vo.Dictionary">
        <result column="title" property="title"/>
        <result column="desc" property="desc" />
        <collection property="items" ofType="com.takaki.recruit.entity.vo.DictionaryItem">
            <result property="title" column="itemTitle" javaType="java.lang.String"/>
            <result property="code" column="itemCode" javaType="java.lang.String"/>
            <result property="desc" column="itemDesc" javaType="java.lang.String"/>
        </collection>
    </resultMap>

    <select id="getSysDictionary" resultMap="BaseResultMap">
        SELECT
            dict.title as title,
            dict.type as type,
            dict.`desc` as `desc`,
            item.title as itemTitle,
            item.`code` as `itemCode`,
            item.`desc` as `itemDesc`
        FROM
            t_sys_dict dict
            LEFT JOIN t_sys_dict_item as item on item.type = dict.type
        WHERE
            dict.status = 1 and item.status = 1
        ORDER BY
            dict.type,
            item.sort_order ASC
    </select>

</mapper>
